services:
  postgres:
    image: postgres:16-alpine
    container_name: nearnow_postgres
    restart: always
    environment:
      POSTGRES_USER: nearnow_admin
      POSTGRES_PASSWORD: Ilya2006.
      POSTGRES_DB: nearnow_db
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: nearnow_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
